.footer-container {
    height: 2rem;
}

.footer-text-1, .footer-text-2 {
    color: #111;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}