:root {
    --box-size: 200px;
    --rows: 3;
    --columns: 4;
    --box-width: 450px;
    --box-height: 300px;
}

.showcase-section {
    min-height: 85vh;
    display: flex;
    justify-content: center;
}

.showcase-container {
    padding: 12px;
    position: relative;
}


.grid-container {
    position: relative;
    width: calc(var(--box-width) * var(--columns));
    height: calc(var(--box-height) * var(--rows));
}

.cell {
    position: absolute;
    pointer-events: none;
}

.boxed {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: var(--box-width);
    height: var(--box-height);
    line-height: var(--box-height);
    overflow: hidden;
}

.boxed-content {
    width: 100%;
    height: 100%;
    border: 5px solid #111;
    border-radius: 12px;
}